@{
    ViewBag.Title = "Register";
}

<section class="row">
    <div class="col span_12">
        <div class="page-title">Register</div>

        <form id="register-form" data-bind="submit: submit">
            <fieldset>
                <div id="register-form-wrap" class="initially-hidden">
                    <div class="form-success initially-hidden">An email with a confirmation link has been sent to your email address.</div>
                    <ul class="validation-errors initially-hidden"></ul>

                    <ol>
                        <li>
                            <input type="email" id="Email" name="Email" class="text-center" maxlength="320" tabindex="1" placeholder="Email" data-bind="value: email" autofocus required />
                        </li>
                        <li>
                            <input type="text" id="Name" name="Name" class="text-center" maxlength="30" tabindex="2" placeholder="Name" data-bind="value: name" required />
                        </li>
                        <li>
                            <input type="password" id="Password" name="Password" class="text-center" maxlength="100" tabindex="3" placeholder="Password" data-bind="value: password" required />
                        </li>
                        <li>
                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="text-center" tabindex="4" placeholder="Confirm Password" data-bind="value: confirmPassword" required />
                        </li>
                    </ol>
                    <div class="submit-wrap">
                        <input type="submit" class="button" value="Register" tabindex="5" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>

@section Scripts {
    <script src="@Url.Content("/JS/Account/register.js")"></script>
}