@{
    ViewBag.Title = "Reset password confirm";
}
@model MyRoutine.Web.ViewModels.Account.ResetPasswordConfirmViewModel

<section class="row">
    <div class="col span_12">
        <div class="page-title">Reset Password</div>

        <form id="reset-password-confirm-form" data-bind="submit: submit">
            <fieldset>
                <div class="form-success initially-hidden">
                    Your password has been successfully reset.
                    See you in the <a href="/">login page</a> in <span data-bind="text: secondsToRedirectText">10 seconds</span>.
                </div>
                <ul class="validation-errors initially-hidden"></ul>
                
                <input type="hidden" id="Token" name="Token" data-bind="value: token" />

                <ol>
                    <li>
                        <input type="password" id="NewPassword" name="NewPassword" maxlength="100" placeholder="New Password" data-bind="value: newPassword" tabindex="1" required />
                    </li>
                    <li>
                        <input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" data-bind="value: confirmPassword" tabindex="2" required />
                    </li>
                </ol>
                
                <div class="submit-wrap">
                    <input type="submit" class="button" value="Set password" tabindex="3" />
                </div>
            </fieldset>
        </form>
    </div>
</section>

@section Scripts {
    <script>
        var token = '@(Model.Token)';
    </script>
    <script src="@Url.Content("/JS/Account/resetpasswordconfirm.js")"></script>
}