<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings configSource="PrivateConnectionStrings.config" xdt:Transform="Replace"></connectionStrings>

  <system.web>
    <roleManager enabled="true" defaultProvider="SimpleRoleProvider" xdt:Transform="Replace">
      <providers>
        <add name="SimpleRoleProvider" type="WebMatrix.WebData.SimpleRoleProvider, WebMatrix.WebData" />
      </providers>
    </roleManager>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <trust level="Full" xdt:Transform="Insert" />
  </system.web>

  <system.webServer xdt:Transform="Insert">
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
    </staticContent>
  </system.webServer>

</configuration>